*.pyc
.*.swp
blivet*.tar.gz
blivet*.tar.bz2
doc/blivet
doc/tests
doc/_build
po/*.gmo
po/*.mo
po/*.po
po/POTFILES
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/remove-potcdate.sed
po/stamp-po
updates.img
updates/
build/
dist/
blivet.egg-info/
.directory
.coverage
coverage-report.log
pylint-log
tests/pylint/.pylint.d/
MANIFEST
misc/.vagrant
ChangeLog
.vscode
