*.pyc
.*.swp
blivet*.tar.gz
blivet*.tar.bz2
doc/blivet.devicelibs.rst
doc/blivet.formats.rst
doc/blivet.rst
doc/modules.rst
doc/_build
po/*.gmo
po/*.po
po/POTFILES
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.po
po/remove-potcdate.sed
po/stamp-po
updates.img
updates/

